.calander {
    width: 100%;
    text-align: center;
    
    .weekday{
        width: 14.28%;
        height: 40px;
        background-color:darksalmon;
        border: 1px solid rgb(208, 133, 108);
    }
    
    .day{
        width: 14.28%;
        height: 100px;
        background-color: bisque;
        border: 1px solid darksalmon;
        cursor: pointer;
    }

    .today{
        @extend .day;
        background-color: rgba(234, 208, 178, 0.7);
        opacity: 0.8;
    }

    .sunday{
        @extend .day;
        background-color: rgba(234, 197, 178, 0.7);
        opacity: 0.8;
    }

    .event{
        @extend .day;
        background-color: rgba(223, 132, 173, 0.7);
        opacity: 0.8;
    }

   
    .today-sunday{
        @extend .day;
        background:  linear-gradient(35deg, rgba(234, 197, 178, 0.7), rgba(234, 208, 178, 0.7));
        opacity: 0.9;
    }

    .today-event{
        @extend .day;
        background: linear-gradient(35deg, rgba(234, 208, 178, 0.7), rgba(223, 132, 173, 0.7));
        opacity: 0.9;
    }

    .sunday-event{
        @extend .day;
        background: linear-gradient(35deg, rgba(234, 197, 178, 0.7), rgba(223, 132, 173, 0.7));
        opacity: 0.9;
    }


    .today-sunday-event{
        @extend .day;
        background: linear-gradient(35deg, rgba(234, 197, 178, 0.7), rgba(234, 208, 178, 0.7), rgba(223, 132, 173, 0.7));
        opacity: 0.9;
    }
 
    
}

