<div class="p-2">
  <div class="row">
    <div class="col-3"> <label class="mt-3 text-center font-weight-bold text-secondary"> Todays Date: {{todaysDate.toDateString()}} </label></div>
    <div class="col-4"></div>
    <div class="col-2">
      <label class="mt-3 text-center font-weight-bold text-secondary">{{monthName[selectedMonth]}} {{selectedYear}}</label>
    </div>
    <div class="col-3"> 
      <button type="button" (click)="navigate(-1)" class="btn btn-outline-secondary m-2">⮜</button>
      <button type="button" (click)="navigate(1)" class="btn btn-outline-secondary m-2">⮞</button>
      <button (click)="showSetting=!showSetting"  class="btn btn-outline-secondary m-2">⚙</button>
    </div>
  </div>
<div class="card">
  <div class="card-body p-0">
    <div id="calendar">
      <table class="calander">
        <thead>
          <th class="weekday">Sunday</th>
          <th class="weekday">Monday</th>
          <th class="weekday">Tuesday</th>
          <th class="weekday">Wednesday</th>
          <th class="weekday">Thursday</th>
          <th class="weekday">Friday</th>
          <th class="weekday">Saturday</th>
        </thead>
        <tbody>
          <tr *ngFor="let week of calanderMonthArray">
            <td class="day" *ngFor="let day of week; let i = index"  [ngClass]="[(day && day['date']['todaysDate']) ? 'todays-date' : 'day', i === 0 ? 'week-start-day' : 'day']" (click)="dayClicked(day)">{{day ? day['date']['date']: ''}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<!-- setting modal  -->
<panchang-setting-component *ngIf="showSetting" (closed)="showSetting=!showSetting"></panchang-setting-component>