
<table class="table table-bordered px-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="color: rgb(172, 66, 83);">{{panchangObject['date']['dateObj']}} <span style="margin-left: 3%;"><button (click)="getView()">Refresh</button></span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: right; width: 50%;">Location</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['locationObj']['city']}}, {{panchangObject['locationObj']['regionName']}},  {{panchangObject['locationObj']['country']}}</span><span>Elevation: </span><span>{{panchangObject['locationObj']['elevation']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Sun Rise & Set Time</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['sunRiseSet']['riseString']}},</span><span class="px-1" style="color: green;">{{panchangObject['sunRiseSet']['setString']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Moon Rise & Set Time</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['moonRiseSet']['riseString']}},</span><span class="px-1" style="color: green;">{{panchangObject['moonRiseSet']['setString']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Day Duration</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['dayDuration']}} Hrs.</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Weekday</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['date']['dayMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Vedic Weekday</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['vedicDayObj']['vedicDayMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Vedic Time</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['vedicTimeObj']['vedicTime']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Paksha</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['tithiObj']['pakshaMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Tithi</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['tithiObj']['tithiMap']}}</span>  <span class="px-1" style="color: rgb(186, 84, 84);">{{panchangObject['tithiObj']['tithiEnd']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Nakshatra</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['nakshatraObj']['nakshatraMap'] }}</span>  <span class="px-1" style="color: rgb(186, 84, 84);">{{panchangObject['nakshatraObj']['nakshatraEndTime']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Nakshatra Charana</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['nakshatraObj']['nakshatraCharanaMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Yoga</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['yogaObj']['yogaMap']}}</span> <span class="px-1" style="color: rgb(186, 84, 84);">{{panchangObject['yogaObj']['yogaEndTime']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Karana</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['karanaObj']['karanaMap']}}</span> <span class="px-1" style="color: rgb(186, 84, 84);">{{panchangObject['karanaObj']['karanaEnd']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Sun Sign</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['rashiObj']['sunRashiMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Moon Sign</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['rashiObj']['moonRashiMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Month</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['masaObj']['masaMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Ritu</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['masaObj']['rituMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Vedic Ayana</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['masaObj']['ayanaMap']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Vikaram Samvat</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['calSystemObj']['vikramSamvat']}}</span></td>
    </tr>
    <tr>
      <td style="text-align: right; width: 50%;">Saka Samvat</td>
      <td style="text-align: left; width: 50%;"><span class="px-1" style="color: green;">{{panchangObject['calSystemObj']['sakaSamvat']}}</span></td>
    </tr>
  </tbody>
</table>