<div class="p-2">
  <div class="card">
    <div class="card-body p-0">
      <table class="panchang">
        <tr>
          <th colspan="8" class="p-1">{{panchangObject['date']['dateObj']}} 
            <button class="btn btn-outline-secondary m-2" (click)="getView(null, true)">Refresh</button> 
            <input class="form-control" type="datetime-local" [(ngModel)]="customDate" (change)="getView($event)" /></th>
        </tr>
      <tbody>
      <tr><td colspan="4" class="entity"><label>Location</label></td><td><label>{{panchangObject['locationObj']['city']}}, {{panchangObject['locationObj']['regionName']}},  {{panchangObject['locationObj']['country']}}</label><label>Elevation: </label><label>{{panchangObject['locationObj']['elevation']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Sun Rise & Set Time</label></td><td><label>{{panchangObject['sunRiseSet']['riseString']}},</label><label>{{panchangObject['sunRiseSet']['setString']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Moon Rise & Set Time</label></td><td><label>{{panchangObject['moonRiseSet']['riseString']}},</label><label>{{panchangObject['moonRiseSet']['setString']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Day Duration</label></td><td><label>{{panchangObject['dayDuration']['dayDurationString']}} </label></td></tr>
      <tr><td colspan="4" class="entity"><label>Night Duration</label></td><td><label>{{panchangObject['dayDuration']['nightDurationString']}} </label></td></tr>
      <tr><td colspan="4" class="entity"><label>Weekday</label></td><td><label>{{panchangObject['date']['dayMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Vedic Weekday</label></td><td><label>{{panchangObject['vedicDayObj']['vedicDayMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Vedic Time</label></td><td><label>{{panchangObject['vedicTimeObj']['vedicTime']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Pahara</label></td><td><label>{{panchangObject['dayDuration']['paharaMap']}} ({{panchangObject['dayDuration']['pahara']}}) </label></td></tr>
      <tr><td colspan="4" class="entity"><label>Paksha</label></td><td><label>{{panchangObject['tithiObj'][0]['pakshaMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Tithi</label></td><td><ng-container *ngFor="let tithi of panchangObject['tithiObj']"><label>{{tithi['tithiMap']}}</label> <label>till</label> <label>{{tithi['tithiEnd']}}</label> <br/></ng-container></td></tr>
      <tr><td colspan="4" class="entity"><label>Nakshatra</label></td><td><ng-container *ngFor="let nakshatra of panchangObject['nakshatraObj']"><label>{{nakshatra['nakshatraMap'] }}</label> <label>till</label> <label>{{nakshatra['nakshatraEndTime']}}</label><br/></ng-container></td></tr>
      <tr><td colspan="4" class="entity"><label>Nakshatra Charana</label></td><td><label>{{panchangObject['nakshatraObj'][0]['nakshatraCharanaMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Yoga</label></td><td><ng-container *ngFor="let yoga of panchangObject['yogaObj']"><label>{{yoga['yogaMap'] }}</label> <label>till</label> <label>{{yoga['yogaEndTime']}}</label><br/></ng-container></td></tr>
      <tr><td colspan="4" class="entity"><label>Karana</label></td><td><ng-container *ngFor="let karana of panchangObject['karanaObj']"><label>{{karana['karanaMap'] }}</label> <label>till</label> <label>{{karana['karanaEndTime']}}</label><br/></ng-container></td></tr>
      <tr><td colspan="4" class="entity"><label>Sun Sign</label></td><td><ng-container *ngFor="let rashi of panchangObject['rashiObj']['sun']"><label>{{rashi['sunRashiMap'] }}</label> <label>till</label> <label>{{rashi['rashiEndTime']}}</label><br/></ng-container></td></tr>
      <tr><td colspan="4" class="entity"><label>Moon Sign</label></td><td><ng-container *ngFor="let rashi of panchangObject['rashiObj']['moon']"><label>{{rashi['moonRashiMap'] }}</label> <label>till</label> <label>{{rashi['rashiEndTime']}}</label><br/></ng-container></td></tr>
      <tr><td colspan="4" class="entity"><label>Amanta Month</label></td><td><label>{{panchangObject['masaObj']['amantaMasaMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Purnimanta Month</label></td><td><label>{{panchangObject['masaObj']['purnimantaMasaMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label> Ritu</label></td><td><label>{{panchangObject['masaObj']['amantaRituMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Sidereal Ritu</label></td><td><label>{{panchangObject['masaObj']['siderealRituMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Vedic Ayana</label></td><td><label>{{panchangObject['masaObj']['ayanaMap']}}</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Vikaram Samvat</label></td><td><label>{{panchangObject['calSystemObj']['vikramSamvat']}} ({{panchangObject['calSystemObj']['vikramSamvatSaraMap']}})</label></td></tr>
      <tr><td colspan="4" class="entity"><label>Saka Samvat</label></td><td><label>{{panchangObject['calSystemObj']['sakaSamvat']}}  ({{panchangObject['calSystemObj']['sakaSamvatSaraMap']}})</label></td></tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>