
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Location Information <span class="m-2"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCloseHandled()"></button>
        </div>
        <div class="info-section">
            <div *ngIf="locationObj && locationObj['city']"><label  class="text-danger m-4">📍 {{locationObj['city']}}, {{locationObj['regionName']}},  {{locationObj['country']}} </label> </div>
            <div *ngIf="!locationObj" class="text-danger m-4"> Cannot find the location. Please fill the details.  </div>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Latitude:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Longitude:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Altitude (In Meters):</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="onCloseHandled()">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>